<!doctype html>

<head>
    <link rel="manifest" href="{% url 'manifestjson' %}">
</head>
<title>installing service worker</title>

<body>
    <img src="/static/m1.png" alt="">
    <script type='text/javascript'>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% url 'sw.js' %}").then(function (registration) {
                console.log('Service worker  registrado com sucesso:', registration, registration.scope);
            }).catch(function (error) {
                console.log('Falha ao Registrar o Service Worker:', error);
            });
        } else {
            console.log('Service workers não suportado!');
        }
    </script>

</body>